In [1]:
import pandas as pd

In [2]:
# Confirmed cases today
download_link = "https://data.humdata.org/hxlproxy/api/data-preview.csv?url=https%3A%2F%2Fraw.githubusercontent.com%2FCSSEGISandData%2FCOVID-19%2Fmaster%2Fcsse_covid_19_data%2Fcsse_covid_19_time_series%2Ftime_series_covid19_confirmed_global.csv&filename=time_series_covid19_confirmed_global.csv"
confirmed = pd.read_csv(download_link)

In [3]:
# GDP per capita
gdp_pp = pd.read_csv("data/gdp_per_capita_2018.csv")

### Merge data sources

In [4]:
confirmed_cntry = confirmed.drop(["Province/State","Lat","Long"], axis = 1).groupby('Country/Region').sum().reset_index()
confirmed_cntry.columns.values[0] = "Country"
gdp_pp.columns.values[0] = "Country"
confirmed_cntry["Country"] = confirmed_cntry["Country"].apply(str)
gdp_pp["Country"] = gdp_pp["Country"].apply(str)
gdp_pp = gdp_pp.dropna()

confirmed_full = gdp_pp.merge(confirmed_cntry, on="Country", how="right")
print(confirmed_full[confirmed_full["GDP per capita"].isna()]["Country"])
confirmed_full = gdp_pp.merge(confirmed_cntry, on="Country", how="inner")

175    Diamond Princess
176             Eritrea
177            Holy See
178                Iran
179       Liechtenstein
180          MS Zaandam
181          San Marino
182         South Sudan
183               Syria
184             Taiwan*
185           Venezuela
186      Western Sahara
187               Yemen
Name: Country, dtype: object

In [5]:
confirmed_full

,Country,GDP per capita,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20
0,Afghanistan,520.896603,0,0,0,0,0,0,0,0,...,12456,13036,13659,14525,15205,15750,16509,17267,18054,18969
1,Angola,3432.385736,0,0,0,0,0,0,0,0,...,71,74,81,84,86,86,86,86,86,86
2,Albania,5268.848504,0,0,0,0,0,0,0,0,...,1050,1076,1099,1122,1137,1143,1164,1184,1197,1212
3,Andorra,42029.762740,0,0,0,0,0,0,0,0,...,763,763,764,764,764,765,844,851,852,852
4,United Arab Emirates,43004.953360,0,0,0,0,0,0,0,4,...,31969,32532,33170,33896,34557,35192,35788,36359,37018,37642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Vietnam,2566.596950,0,2,2,2,2,2,2,2,...,327,327,328,328,328,328,328,328,328,328
171,Kosovo,4302.276483,0,0,0,0,0,0,0,0,...,1047,1048,1048,1064,1064,1064,1064,1142,1142,1142
172,South Africa,6374.028196,0,0,0,0,0,0,0,0,...,25937,27403,29240,30967,32683,34357,35812,37525,40792,43434
173,Zambia,1539.900158,0,0,0,0,0,0,0,0,...,1057,1057,1057,1057,1057,1089,1089,1089,1089,1089
174,Zimbabwe,2146.996385,0,0,0,0,0,0,0,0,...,132,149,149,174,178,203,206,222,237,265

In [6]:
from feature_engineering import *
features = create_lagged_features(confirmed_full, [1,2,3])